<a href="https://colab.research.google.com/github/ananyakaalindi/Data-Analysis/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

#defining a dataframe
data={'Name':['Ram','Sanjay','Hima','Laya','Meena','Rishi'],'Age':[12,45,13,23,35,54],'Graduation':[False,True,False,True,True,True]}
df=pd.DataFrame(data)
df

     Name  Age  Graduation
0     Ram   12       False
1  Sanjay   45        True
2    Hima   13       False
3    Laya   23        True
4   Meena   35        True
5   Rishi   54        True

In [3]:
#extracting only required columns
df2=pd.DataFrame(data,columns=['Name','Graduation'])
df2

     Name  Graduation
0     Ram       False
1  Sanjay        True
2    Hima       False
3    Laya        True
4   Meena        True
5   Rishi        True

In [4]:
#changing the index values
df=pd.DataFrame(data,index=['a','b','c','d','e','f'])
df

     Name  Age  Graduation
a     Ram   12       False
b  Sanjay   45        True
c    Hima   13       False
d    Laya   23        True
e   Meena   35        True
f   Rishi   54        True

In [5]:
#To know the names of columns or rows in a dataset
print(df.columns)
print(df.index)

Index(['Name', 'Age', 'Graduation'], dtype='object')
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [6]:
print(df['Age']) #to extract data of a specific column
print(df.loc['b']) #of a specific row
print(df.loc[['c','e']]) #of multiple rows

a    12
b    45
c    13
d    23
e    35
f    54
Name: Age, dtype: int64
Name          Sanjay
Age               45
Graduation      True
Name: b, dtype: object
    Name  Age  Graduation
c   Hima   13       False
e  Meena   35        True

In [7]:
print(df['a':'c'])
print(df['Age'][3])

     Name  Age  Graduation
a     Ram   12       False
b  Sanjay   45        True
c    Hima   13       False
23

In [8]:
#Assigning values
df.index.name='id'
df.columns.name='Details'
df

Details    Name  Age  Graduation
id
a           Ram   12       False
b        Sanjay   45        True
c          Hima   13       False
d          Laya   23        True
e         Meena   35        True
f         Rishi   54        True

In [9]:
#Adding a new column
df['Height']=155
df

Details    Name  Age  Graduation  Height
id
a           Ram   12       False     155
b        Sanjay   45        True     155
c          Hima   13       False     155
d          Laya   23        True     155
e         Meena   35        True     155
f         Rishi   54        True     155

In [10]:
df['Height']=[140,150,155,160,153,167]
df

Details    Name  Age  Graduation  Height
id
a           Ram   12       False     140
b        Sanjay   45        True     150
c          Hima   13       False     155
d          Laya   23        True     160
e         Meena   35        True     153
f         Rishi   54        True     167

In [11]:
import numpy as np

ser=pd.Series(np.arange(6),index=['a','b','c','d','e','f'])
df['New']=ser #Adding a series as a column
df

Details    Name  Age  Graduation  Height  New
id
a           Ram   12       False     140    0
b        Sanjay   45        True     150    1
c          Hima   13       False     155    2
d          Laya   23        True     160    3
e         Meena   35        True     153    4
f         Rishi   54        True     167    5

In [12]:
del df['New'] #deleting a column
df

Details    Name  Age  Graduation  Height
id
a           Ram   12       False     140
b        Sanjay   45        True     150
c          Hima   13       False     155
d          Laya   23        True     160
e         Meena   35        True     153
f         Rishi   54        True     167

In [13]:
#When Nested Dict is passed as an argument to the DataFrame(), external keys will be treated as columns and internal keys as index labels

dict={'Sales':{2009:3000,2010:3500,2011:3200},'Profit':{2009:54,2010:66,2011:57}}
df3=pd.DataFrame(dict)
df3

      Sales  Profit
2009   3000      54
2010   3500      66
2011   3200      57

In [14]:
df.T #Transposition of a Dataframe

id              a       b      c     d      e      f
Details
Name          Ram  Sanjay   Hima  Laya  Meena  Rishi
Age            12      45     13    23     35     54
Graduation  False    True  False  True   True   True
Height        140     150    155   160    153    167

In [15]:
print(ser.idxmax()) #index with highest value
print(ser.idxmin()) #index with lowest value

f
a

In [20]:
ser.drop('b')
ser

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [22]:
#While adding, when same labels are present in both they will be added

frame1=pd.DataFrame(np.arange(16).reshape((4,4)),index=['blue','yellow','green','red'],columns=['pen','pencil','bag','cup'])
frame2=pd.DataFrame(np.arange(11,27).reshape((4,4)),index=['yellow','black','red','blue'],columns=['pencil','paper','cup','pen'])
frame1+frame2

        bag   cup  paper   pen  pencil
black   NaN   NaN    NaN   NaN     NaN
blue    NaN  28.0    NaN  26.0    24.0
green   NaN   NaN    NaN   NaN     NaN
red     NaN  36.0    NaN  34.0    32.0
yellow  NaN  20.0    NaN  18.0    16.0

In [25]:
frame1.mul(frame2) #add(),sub(),mul(),div() can be performed this way

        bag    cup  paper    pen  pencil
black   NaN    NaN    NaN    NaN     NaN
blue    NaN   75.0    NaN    0.0    23.0
green   NaN    NaN    NaN    NaN     NaN
red     NaN  315.0    NaN  264.0   247.0
yellow  NaN   91.0    NaN   56.0    55.0

In [27]:
print(frame1)
frame1.sum()

        pen  pencil  bag  cup
blue      0       1    2    3
yellow    4       5    6    7
green     8       9   10   11
red      12      13   14   15

pen       24
pencil    28
bag       32
cup       36
dtype: int64

In [28]:
frame1.sort_index()

        pen  pencil  bag  cup
blue      0       1    2    3
green     8       9   10   11
red      12      13   14   15
yellow    4       5    6    7

In [32]:
dict1={'Name':['Sanju','Maya','Pran'],'Age':[17,np.nan,20]} #Assigning a nan value
df4=pd.DataFrame(dict1)
df4

    Name   Age
0  Sanju  17.0
1   Maya   NaN
2   Pran  20.0

In [41]:
df5=df4.dropna() #to remove rows with NaN value
df5

    Name   Age
0  Sanju  17.0
2   Pran  20.0

In [42]:
df6=df4.fillna(1) #Assigning a value to the position of NaN
df6

    Name   Age
0  Sanju  17.0
1   Maya   1.0
2   Pran  20.0

In [44]:
frame=frame1.stack()
frame

blue    pen        0
        pencil     1
        bag        2
        cup        3
yellow  pen        4
        pencil     5
        bag        6
        cup        7
green   pen        8
        pencil     9
        bag       10
        cup       11
red     pen       12
        pencil    13
        bag       14
        cup       15
dtype: int64

In [45]:
f=np.sqrt(frame1)
f

             pen    pencil       bag       cup
blue    0.000000  1.000000  1.414214  1.732051
yellow  2.000000  2.236068  2.449490  2.645751
green   2.828427  3.000000  3.162278  3.316625
red     3.464102  3.605551  3.741657  3.872983

In [47]:
f.columns

Index(['pen', 'pencil', 'bag', 'cup'], dtype='object')